{% extends "templates/layout.jinja2" %}
{% block content %}

{% include "templates/breadcrumbs.jinja2" %}
<h4>{{ page_title }}</h4>
<ul>
    {% for child in context.values() | sort(attribute='title') %}
        <li>
            <a href="{{ request.resource_url(child) }}">{{ child.title }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock content %}