{% extends "templates/layout.jinja2" %}
{% block content %}
<a href="/login">Go to login page</a>
<p>{{ message }}</p>
<form method="post" action="{{ request.path }}">
    <p>
        <label for="login">Login</label><br>
        <input type="text" name="login" value="">
    </p>
    <p>
        <label for="firstname">First Name</label><br>
        <input type="text" name="firstname" value="">
    </p>
    <p>
        <label for="lastname">Second Name</label><br>
        <input type="text" name="lastname" value="">
    </p>
    <p>
        <label for="password">Password</label><br>
        <input type="password" name="password">
    </p>
    <input type="submit" name="submit">
</form>
{% endblock content %}