{% extends "templates/layout.jinja2" %}
{% block content %}

    <h2>{{ user.first_name }} {{ user.last_name }} @ {{ user.login }}</h2>
    {% include "templates/contents.jinja2" %}

{% endblock content %}