{% extends "templates/layout.jinja2" %}
{% block content %}

{% include "templates/breadcrumbs.jinja2" %}
<h4>{{ user.first_name }} {{ user.last_name }} @ {{ user.login }}</h4>
{% for record in user.records | rejectattr('group_id') | sort(attribute='date',reverse=True) %}
    <hr>
    <div>
        <h5>{{ record.title }}</h5>
        <h6>{{ record.date }}</h6>
        <p>{{ record.content }}</p>
    </div>
{% endfor %}

{% endblock content %}